:root {
  --bg: #fefefe;
  --header-bg: #eeeeee;
  --header-border: #ececec;
  --text: #333;
  --h-border: #ccc;
  --nav-link: blue;

  --mobile: 500px;
  --side: 20%;
}

@media only screen and (max-width: 650px) {
  :root {
    --side: 2rem;
  }
}

.dark :root {
  --bg: red;
}
