body {
  line-height: 1.7;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.24;
  font-weight: 900;

  margin-top: 1.2rem;
  margin-bottom: 0.95rem;

  color: var(--h-text);
}

/* main page title */
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  color: var(--h-text);
}

h2 {
  font-size: 2.1rem;
  border-bottom: 1px solid var(--h-border);
}
h3 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

p {
  margin-bottom: 1.2rem;
}
